n8n-Workflow/Vulnerability-Detector Wazuh.json
{
  "name": "Vulnerability-Detector Wazuh",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vuln",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d6a6cd21-41e3-41b8-a122-769c830cca93",
      "name": "Webhook",
      "webhookId": "bdc612ce-36ba-4e16-a777-58e15e387536"
    },
    {
      "parameters": {
        "chatId": "-4216466664",
        "text": "={{ $json.body.data.vulnerability.cve }} detected on {{ $json.body.agent.name }}\nAffected : {{ $json.body.data.vulnerability.package.name }} ({{ $json.body.data.vulnerability.package.condition }})\nReference : {{ $json.body.data.vulnerability.scanner.reference }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        288,
        -176
      ],
      "id": "19141dcc-552f-4a5a-8c91-5ae1820586d1",
      "name": "Send a text message",
      "webhookId": "a1f64cf0-105e-4e67-9565-2281bb26a72a",
      "credentials": {
        "telegramApi": {
          "id": "wTmuSp8f6kub5dE2",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "/data/files/cve_log.xlsx",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        288,
        192
      ],
      "id": "8ede1e23-af00-47d2-adc6-71d315def6e9",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        496,
        192
      ],
      "id": "d1a9e58b-96a2-4355-ba01-fc69c2c3f46f",
      "name": "Extract from File",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "xlsx",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        944,
        0
      ],
      "id": "fd2a3bb4-53ae-4991-a59b-86edc8db4549",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/files/cve_log.xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1216,
        0
      ],
      "id": "fd187858-dc51-4837-abc1-a608eecab476",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f57a577-fcb1-4cba-b3bb-5f322a47a133",
              "name": "agent",
              "value": "={{ $('Webhook').item.json.body.agent.name }} - {{ $('Webhook').item.json.body.agent.ip }}",
              "type": "string"
            },
            {
              "id": "5aeeedfd-c779-4cd2-9ee5-5db834b818b4",
              "name": "CVE",
              "value": "={{ $('Webhook').item.json.body.data.vulnerability.cve }}",
              "type": "string"
            },
            {
              "id": "36a02207-e8ea-4f04-8446-0d566d658cac",
              "name": "affected",
              "value": "={{ $('Webhook').item.json.body.data.vulnerability.package.name }}. {{ $('Webhook').item.json.body.data.vulnerability.package.condition }}",
              "type": "string"
            },
            {
              "id": "3cfe4625-fdf9-47b0-be7e-98b7e7a47f1d",
              "name": "status",
              "value": "={{ $('Webhook').item.json.body.data.vulnerability.status }}",
              "type": "string"
            },
            {
              "id": "8f9fa88b-ab46-4ed1-8ef3-9cfc0ef08a80",
              "name": "reference link",
              "value": "={{ $('Webhook').item.json.body.data.vulnerability.scanner.reference }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        288,
        0
      ],
      "id": "3af73d1e-3adf-40cc-b5bf-4e5a7577e026",
      "name": "Edit Fields"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        0
      ],
      "id": "022a3eba-4158-4b4c-b5bf-6075c35b5ad7",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1ea66c23-619e-4f1d-805b-4be80b4de3bb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed168316c0cf16178053eb769794340f5fc4ed9e678f755e4b33755b4d13313f"
  },
  "id": "NLEsH7okuzVBUsTH",
  "tags": []
}